#include <windows.h>

1 VERSIONINFO
FILEVERSION 0,2,0,0
PRODUCTVERSION 0,2,0,0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
FILEFLAGS VS_FF_DEBUG
#else
FILEFLAGS 0x0L
#endif
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040704B0"
        BEGIN
            VALUE "CompanyName", "125A\0"
            VALUE "FileDescription", "125A Plugin Tester / Quality Checker\0"
            VALUE "FileVersion", "0.2.0\0"
            VALUE "InternalName", "125A_Plugin_Tester\0"
            VALUE "OriginalFilename", "125A_Plugin_Tester.exe\0"
            VALUE "ProductName", "125A Plugin Tester / Quality Checker\0"
            VALUE "ProductVersion", "0.2.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0407, 1200
    END
END
